.table-data{
    padding: 5px;
}

.button-td{
    padding-left: 40%;
}

.registration-button-td{
    padding-left: 16%;
}

.see-transactions-button-td{
    padding-left: 30%;
}

#exp{
    display: none;
}